<section id="or-breadcrumbs" class="or-breadcrumbs-section position-relative" data-background="assets/img/bg/bg-page-title.jpg">
    <div class="background_overlay"></div>
    <div class="container">
        <div class="or-breadcrumbs-content text-center">
            <div class="page-title headline"><h1>Service</h1></div>
            <div class="or-breadcrumbs-items ul-li">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li>Service</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- End of Breadcrumb section
============================================= -->

<!-- Start of service innerbox section
============================================= -->
<section id="or-service-page" class="or-service-page-section">
    <div class="container">
        <div class="or-service-page-content">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6">
                    <div class="or-service-page-innerbox headline pera-content position-relative">
                        <div class="grid-item-inner wow fadeInUp" data-wow-duration="1.2s">
                            <div class="item--featured"> 
                                <a href="#">
                                    <img src="assets/img/about/ser1.jpg" alt="">
                                </a>
                            </div>
                            <div class="item--icon icon-psb text-center">
                                <i class="flaticon-cardboard"></i>
                            </div>
                            <div class="item--holder">
                                <h3 class="item--title">Agricultural Services</h3>
                            </div>
                            <div class="item--holder-hover">
                                <div class="item--holder-inner">
                                    <h3 class="item--title">
                                        <a href="service-single.html">Agricultural Services</a>
                                    </h3>
                                    <div class="item--content"> It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</div>
                                    <div class="item-readmore"> <a class="btn btn-animate" href="service-single.html"> <span> Read more </span> </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="or-service-page-innerbox headline pera-content position-relative">
                        <div class="grid-item-inner wow fadeInUp" data-wow-duration="1.2s">
                            <div class="item--featured"> 
                                <a href="#">
                                    <img src="assets/img/about/ser3.jpg" alt="">
                                </a>
                            </div>
                            <div class="item--icon icon-psb text-center">
                                <i class="flaticon-cardboard"></i>
                            </div>
                            <div class="item--holder">
                                <h3 class="item--title">Organic Store Services</h3>
                            </div>
                            <div class="item--holder-hover">
                                <div class="item--holder-inner">
                                    <h3 class="item--title">
                                        <a href="service-single.html">Organic Store Services</a>
                                    </h3>
                                    <div class="item--content"> It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</div>
                                    <div class="item-readmore"> <a class="btn btn-animate" href="service-single.html"> <span> Read more </span> </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="or-service-page-innerbox headline pera-content position-relative">
                        <div class="grid-item-inner wow fadeInUp" data-wow-duration="1.2s">
                            <div class="item--featured"> 
                                <a href="#">
                                    <img src="assets/img/about/ser2.jpg" alt="">
                                </a>
                            </div>
                            <div class="item--icon icon-psb text-center">
                                <i class="flaticon-cardboard"></i>
                            </div>
                            <div class="item--holder">
                                <h3 class="item--title">Product Delivery Services</h3>
                            </div>
                            <div class="item--holder-hover">
                                <div class="item--holder-inner">
                                    <h3 class="item--title">
                                        <a href="service-single.html">Product Delivery Services</a>
                                    </h3>
                                    <div class="item--content"> It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</div>
                                    <div class="item-readmore"> <a class="btn btn-animate" href="service-single.html"> <span> Read more </span> </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of service innerbox section
============================================= -->

<!-- Start of testimonial  section
============================================= -->
<section id="or-testimonial" class="or-testimonial-section service-testimonial position-relative">
    <div class="or-testimonial-shape-bg position-absolute"><img src="assets/img/bg/bg-section2.png" alt=""></div>
    <div class="container">
        <div class="or-testimonial-content">
            <div class="or-section-title headline pera-content text-center middle-align">
                <span class="sub-title">Categories</span>
                <h2>We believe in working with
                accredited farmerss</h2>
            </div>
            <div class="or-tetimonial-slider-wrapper">
                <div class="or-testimonial-slider-area">
                    <div class="or-testimonial-slider">
                        <div class="organio-inner-item">
                            <div class="or-testimonial-innerbox text-center position-relative">
                                <div class="or-testimonial-img position-absolute">
                                    <img src="assets/img/testimonial/tst1.jpg" alt="">
                                </div>
                                <div class="or-testimonial-text headline pera-content">
                                    <p>‘’Tempor incididunt ut labore et dolore magna aliquat enim veniam quis nostru exercitation ullamco laboris nis aliquip.’’</p>
                                    <div class="author-meta">
                                        <h3>Sinira Fro</h3>
                                        <span>Managing Director</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="organio-inner-item">
                            <div class="or-testimonial-innerbox text-center position-relative">
                                <div class="or-testimonial-img position-absolute">
                                    <img src="assets/img/testimonial/tst2.jpg" alt="">
                                </div>
                                <div class="or-testimonial-text headline pera-content">
                                    <p>‘’Tempor incididunt ut labore et dolore magna aliquat enim veniam quis nostru exercitation ullamco laboris nis aliquip.’’</p>
                                    <div class="author-meta">
                                        <h3>Sinira Fro</h3>
                                        <span>Managing Director</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="organio-inner-item">
                            <div class="or-testimonial-innerbox text-center position-relative">
                                <div class="or-testimonial-img position-absolute">
                                    <img src="assets/img/testimonial/tst3.jpg" alt="">
                                </div>
                                <div class="or-testimonial-text headline pera-content">
                                    <p>‘’Tempor incididunt ut labore et dolore magna aliquat enim veniam quis nostru exercitation ullamco laboris nis aliquip.’’</p>
                                    <div class="author-meta">
                                        <h3>Sinira Fro</h3>
                                        <span>Managing Director</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="organio-inner-item">
                            <div class="or-testimonial-innerbox text-center position-relative">
                                <div class="or-testimonial-img position-absolute">
                                    <img src="assets/img/testimonial/tst3.jpg" alt="">
                                </div>
                                <div class="or-testimonial-text headline pera-content">
                                    <p>‘’Tempor incididunt ut labore et dolore magna aliquat enim veniam quis nostru exercitation ullamco laboris nis aliquip.’’</p>
                                    <div class="author-meta">
                                        <h3>Sinira Fro</h3>
                                        <span>Managing Director</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of testimonial  section
============================================= -->

<!-- Start of shop banner section
============================================= -->			
<section id="or-shop-banner" class="or-shop-banner-section">
    <div class="container">
        <div class="or-shop-banner-content">
            <div class="row">
                <div class="col-lg-6">
                    <div class="or-shop-banner-innerbox position-relative">
                        <div class="or-shop-banner-text headline pera-content">
                            <h3>Get 10% off on Vegetables</h3>
                            <p>Shop our selection of organic fresh
                            vegetables in a discounted price. 10% off on all vegetables.</p>
                            <a class="sb-btn wow fadeInUp" href="shop.html">Shop Now <i class="fas fa-long-arrow-right"></i></a>
                        </div>
                        <div class="or-shop-banner-img-wrapper">
                            <div class="or-shop-banner-img-1 position-absolute">
                                <img src="assets/img/shop/sb1.png" alt="Image">
                            </div>
                            <div class="or-shop-banner-img-2 position-absolute">
                                <img src="assets/img/shop/sbs1.png" alt="Image">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="or-shop-banner-innerbox position-relative type-2">
                        <div class="or-shop-banner-text headline pera-content">
                            <h3>Get garden fresh fruits</h3>
                            <p>Shop our selection of organic fresh
                            vegetables in a discounted price. 10% off on all vegetables.</p>
                            <a class="sb-btn wow fadeInUp" href="shop.html">Shop Now <i class="fas fa-long-arrow-right"></i></a>
                        </div>
                        <div class="or-shop-banner-img-wrapper">
                            <div class="or-shop-banner-img-1 position-absolute">
                                <img src="assets/img/shop/sb2.png" alt="Image">
                            </div>
                            <div class="or-shop-banner-img-2 position-absolute">
                                <img src="assets/img/shop/sbs2.png" alt="Image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>