<section class="banner banner--03">
	<div class="swiper-container banner-slider--03">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<div class="row banner--03__content">
					<div class="col-lg-5 order-lg-0 order-2">
						<div class="banner--03__text-content">
							<h5 class="title">Welcome to shopery</h5>
							<h2 class="font-title--xxxl">Fresh & Healthy Organic Food</h2>
							<h6 class="font-title--sm">Sale up to <span>30% OFF</span></h6>
							<p class="font-body--md-400">
								Free shipping on all your order. we deliver, you enjoy
							</p>
							<a href="#" class="button button--md">
								Shop now
								<span>
									<svg width="17" height="15" viewBox="0 0 17 15" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M16 7.50049H1" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
										<path d="M9.95001 1.47559L16 7.49959L9.95001 13.5246" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
									</svg>
								</span>
							</a>
						</div>
					</div>
					<div class="col-lg-7 order-lg-0 order-1">
						<div class="banner--03__img-wrapper">
							<img src="assets/images/banner/banner-sm-06.png" alt="banner" />
						</div>
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="row banner--03__content">
					<div class="col-lg-5 order-lg-0 order-2">
						<div class="banner--03__text-content">
							<h5 class="title">Welcome to shopery</h5>
							<h2 class="font-title--xxxl">Fresh & Healthy Organic Food</h2>
							<h6 class="font-title--sm">Sale up to <span>30% OFF</span></h6>
							<p class="font-body--md-400">
								Free shipping on all your order. we deliver, you enjoy
							</p>
							<a href="#" class="button button--md">
								Shop now
								<span>
									<svg width="17" height="15" viewBox="0 0 17 15" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M16 7.50049H1" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
										<path d="M9.95001 1.47559L16 7.49959L9.95001 13.5246" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
									</svg>
								</span>
							</a>
						</div>
					</div>
					<div class="col-lg-7 order-lg-0 order-1">
						<div class="banner--03__img-wrapper">
							<img src="assets/images/banner/banner-sm-12.png" alt="banner" />
						</div>
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="row banner--03__content">
					<div class="col-lg-5 order-lg-0 order-2">
						<div class="banner--03__text-content">
							<h5 class="title">Welcome to shopery</h5>
							<h2 class="font-title--xxxl">Fresh & Healthy Organic Food</h2>
							<h6 class="font-title--sm">Sale up to <span>30% OFF</span></h6>
							<p class="font-body--md-400">
								Free shipping on all your order. we deliver, you enjoy
							</p>
							<a href="#" class="button button--md">
								Shop now
								<span>
									<svg width="17" height="15" viewBox="0 0 17 15" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M16 7.50049H1" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
										<path d="M9.95001 1.47559L16 7.49959L9.95001 13.5246" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
									</svg>
								</span>
							</a>
						</div>
					</div>
					<div class="col-lg-7 order-lg-0 order-1">
						<div class="banner--03__img-wrapper">
							<img src="assets/images/banner/banner-sm-06.png" alt="banner" />
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="swiper-pagination"></div>
	</div>
</section>