<section class="section section--xl error" style="height: 100vh;">
    <div class="container">
        <div class="error__content">
            <div class="error__content-img">
                <img src="assets/images/404.png" alt="404" class="img-fluid" />
            </div>
            <h2 class="font-title--lg">Oops! page not found</h2>
            <p>Ut consequat ac tortor eu vehicula. Aenean accumsan purus eros. Maecenas sagittis tortor at metus mollis</p>
            <a routerLink="/origanic/home" class="button button--md">Back to Home</a>
        </div>
    </div>
</section>