<section class="section section--xxl category--top section">
	<div class="container">
		<div class="section__head section__head--three section__head--three-center">
			<h2 class="section--title-two font-title--lg">
				Top Category
				<span class="title-bar"></span>
			</h2>
			<div class="arrows category--top-arrows-mb">
				<button class="arrows__btn swiper-button--prev">
					<svg width="17" height="14" viewBox="0 0 17 14" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M1.25 7.22607H16.25" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
						<path d="M7.30005 1.20117L1.25005 7.22517L7.30005 13.2502" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
					</svg>
				</button>
				<button class="arrows__btn swiper-button--next">
					<svg width="17" height="15" viewBox="0 0 17 15" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M16 7.50049H1" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
						<path d="M9.95001 1.47559L16 7.49959L9.95001 13.5246" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
					</svg>
				</button>
			</div>
		</div>
		<div class="swiper-container category--top-slider--two">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<a href="# " class="cards-sm cards-sm--three">
						<div class="cards-sm__icon-wrapper">
							<img src="assets/images/categories/icon-vegetable.png" alt="img-01" />
						</div>
						<h5 class="font-body--xl-500">Vegetables</h5>
						<p class="quantity">165 Products</p>
					</a>
				</div>
				<div class="swiper-slide">
					<a href="# " class="cards-sm cards-sm--three">
						<div class="cards-sm__icon-wrapper">
							<img src="assets/images/categories/icon-fruits.png" alt="img-01" />
						</div>
						<h5 class="font-body--xl-500">Fresh Fruit</h5>
						<p class="quantity">137 Products</p>
					</a>
				</div>
				<div class="swiper-slide">
					<a href="# " class="cards-sm cards-sm--three">
						<div class="cards-sm__icon-wrapper">
							<img src="assets/images/categories/icon-fish.png" alt="img-01" />
						</div>
						<h5 class="font-body--xl-500">River Fish</h5>
						<p class="quantity">34 Products</p>
					</a>
				</div>
				<div class="swiper-slide">
					<a href="# " class="cards-sm cards-sm--three">
						<div class="cards-sm__icon-wrapper">
							<img src="assets/images/categories/icon-meat.png" alt="img-01" />
						</div>
						<h5 class="font-body--xl-500">Meat</h5>
						<p class="quantity">165 Products</p>
					</a>
				</div>
				<div class="swiper-slide">
					<a href="# " class="cards-sm cards-sm--three">
						<div class="cards-sm__icon-wrapper">
							<img src="assets/images/categories/icon-drinks.png" alt="img-01" />
						</div>
						<h5 class="font-body--xl-500">Water and Drinks</h5>
						<p class="quantity">48 Products</p>
					</a>
				</div>
				<div class="swiper-slide">
					<a href="# " class="cards-sm cards-sm--three">
						<div class="cards-sm__icon-wrapper">
							<img src="assets/images/categories/icon-snacks.png" alt="img-01" />
						</div>
						<h5 class="font-body--xl-500">Snacks</h5>
						<p class="quantity">165 Products</p>
					</a>
				</div>
			</div>
			<div class="swiper-pagination"></div>
		</div>
		<div class="arrows category--top-arrows-lg">
			<button class="arrows__btn swiper-button--prev">
				<svg width="17" height="14" viewBox="0 0 17 14" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M1.25 7.22607H16.25" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
					<path d="M7.30005 1.20117L1.25005 7.22517L7.30005 13.2502" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
				</svg>
			</button>
			<button class="arrows__btn swiper-button--next">
				<svg width="17" height="15" viewBox="0 0 17 15" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M16 7.50049H1" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
					<path d="M9.95001 1.47559L16 7.49959L9.95001 13.5246" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
				</svg>
			</button>
		</div>
	</div>
</section>